
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Mylayout.cshtml";
}
<h2>Index</h2>
<h1>Con mèo rồi con heo</h1>
The customer id is : @ViewBag.TotalStudents <br />
@ViewBag.ProInfo[0] <br />
@ViewBag.ProInfo[1] <br />

