
<html>
<head>
    <title>Quản Lý Bệnh Nhân</title>
</head>
<body>
    @RenderBody()
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">He Thong Nha Khoa</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <nav class="navbar navbar-expand-sm">
                <!-- Links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bill</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ill</a>
                    </li>

                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            User
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/Home/managepatient">Patient</a>
                            <a class="dropdown-item" href="/Home/managedoctor">Doctor</a>
                            <a class="dropdown-item" href="/Home/managemanager">Manager</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            History
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/Home/managepatient">Bill History</a>
                            <a class="dropdown-item" href="/Home/managedoctor">Product History</a>
                            <a class="dropdown-item" href="/Home/managemanager">Ill history</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</body>
</html>
